rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Single shop collections & fallback root collections
    match /shops/{shopId}/{collection}/{docId} {
      allow read, write: if true;
    }

    match /{collection}/{docId} {
      allow read, write: if true;
    }
  }
}
